html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #0e0d0d;
}

.titleWrapper {
  margin: 1rem auto;
}

.title {
  text-align: center;
  color: #4ec54e;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }
}

.custom-list {
  font-family: inherit;
  background: none;
  color: #4ec54e;
  border: none;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.custom-list option {
  width: 10px !important;
  color: red;
  margin: 0;
}

.board-wrapper {
  border: 2px solid #4ec54e;
  height: 70vw;
  max-height: 41rem;
  min-height: 43rem;
  min-width: 21rem;
  max-width: 35rem;
  width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.playerData {
  width: 50%;
  text-align: center;
  color: #4ec54e;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.playerNumber {
  font-size: 0.9rem;
}

.active-player {
  color: red;
  text-decoration: underline;
}

.reset-btn {
  border-radius: 5px;
  border: 1px solid #4ec54e;
  height: 29px;
  margin: 15px auto;
}

.reset-btn:hover {
  background-color: red;
}

.game-wrapper {
  font-family: "Comfortaa", cursive;
  color: #4ec54e;
  font-size: calc(((30rem / 3) * 0.4) + 1.13vw);
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
  width: 70vw;
  height: 70vw;
  max-width: 30rem;
  max-height: 30rem;
  vertical-align: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 400px) {
  .game-wrapper {
    font-size: calc(((30rem / 3) * 0.4) + 2.1vw);
  }
}

@media (min-width: 700px) {
  .game-wrapper {
    font-size: calc(((30rem / 3) * 0.44) + 2.2vw);
  }
}

.square {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.square p {
  height: 100%;
  width: 100%;
  margin: 0;
}

#A00 {
  margin-right: 0;
  margin-bottom: 0;
  grid-row: 0 /1;
  grid-column: 0 /1;
  grid: 1 1;
  border-right: 3px solid #4ec54e;
  border-bottom: 3px solid #4ec54e;
}

#A01 {
  margin-right: 0;
  margin-bottom: 0;
  grid: 1 2;
  border-right: 3px solid #4ec54e;
  border-bottom: 3px solid #4ec54e;
}

#A02 {
  grid: 1 3;
  border-bottom: 3px solid #4ec54e;
}

#A10 {
  grid: 2 1;
  border-right: 3px solid #4ec54e;
  border-bottom: 3px solid #4ec54e;
}

#A11 {
  grid: 2 2;
  border-right: 3px solid #4ec54e;
  border-bottom: 3px solid #4ec54e;
}

#A12 {
  grid: 2 3;
  border-bottom: 3px solid #4ec54e;
}

#A20 {
  grid: 3 1;
  border-right: 3px solid #4ec54e;
}

#A21 {
  grid: 3 2;
  border-right: 3px solid #4ec54e;
}

#A22 {
  grid: 3 3;
}
/*# sourceMappingURL=style.css.map */